body {
  background-color: black;
  color: #39ff14;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image-container {
  border: 5px solid lightblue;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-shadow: 0 0 20px #39ff14;
  margin: 20px 0;
}

.youtube-link {
  color: #39ff14;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
